::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.025);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.5s;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.4);
}
.ml-10 {
  margin-left: 10px;
}
.n-wrap {
  white-space: nowrap;
}

.el-table .cell {
  white-space: nowrap;
}
.el-dialog {
  -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  box-shadow: 0 0px 6px rgb(0 0 0 / 30%);
}
.el-dialog__body {
  padding: 20px 20px;
}
.screen-select.el-select {
  .el-input {
    .el-input__inner {
      background: rgba(255, 255, 255, 0.1);
      height: 24px;
      line-height: 24px;
      border: 0;
      border-radius: 0;
      color: #fff;
    }
    .el-input__icon {
      line-height: 24px;
    }
  }
}

.el-popper {
  .popper__arrow {
    display: none;
    ::after {
      display: none !important;
    }
  }
}

.chart-box {
  // height: 100%;
  width: 100%;
}
.mask-chart {
  background: rgba(255, 255, 255, 0.04);
  &.inner {
    background: rgba(255, 255, 255, 1);
  }
}
.go-link {
  &:hover {
    font-weight: bold;
    color: $selfColor;
    // text-decoration: underline;
  }
}
.content-crumbs {
  @include flex(flex-start, center);
  line-height: 32px;
  font-size: 14px;
  .content-crumb {
    &:after {
      content: "/";
      // color: #fff;
      padding: 0 6px;
    }
    &:last-child {
      &::after {
        content: "";
      }
    }
  }
}
.chart-box-title {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: bold;
  color: $selfColor;

  background: linear-gradient(90deg, #067dc2 0%, $selfColor 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &.big {
    font-size: 30px;
  }
}
.chart-box-tool {
  .hart-box-describe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    line-height: 22px;
    .hart-box-describe-left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .chart-dt {
        color: #fff;
        font-size: 12px;
        &.chart-dt-big {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .err-text {
        color: $err;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .hart-box-describe-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      color: #fff;
      .temperature {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #ccc;
        font-size: 12px;
        .tem-val {
          font-size: 16px;
          color: $selfColor;
          font-weight: bold;
          &.err {
            color: $err;
          }
          &.num {
            font-size: 20px;
            margin-left: 6px;
          }
        }
      }
    }
  }
}

.detail-item-center--top {
  @include flex();
  width: 100%;

  height: 20%;
  flex-direction: column;
  margin-bottom: 20px;
  .comp-name {
    font-size: 28px;
    margin-bottom: 15px;
    color: #fff;
  }
  .update {
    font-size: 16px;
    color: #fff;
  }
  .update {
    width: 100%;
    @include flex(center, center);
  }
  .update-text {
    margin-left: 20px;
  }
}

.count-container {
  padding: 10px 0 30px 0;
  display: flex;
  gap: 2%;
  .count-item {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    .count-num {
      margin: 8px 0 0 0;
      font-size: 40px;
      font-weight: 800;
    }
    i {
      position: absolute;
      font-size: 80px;
      right: 16px;
      bottom: 16px;
      opacity: 0.35;
      transform: rotate(-10deg);
    }
  }
  .blue {
    background: linear-gradient(
      160deg,
      rgba(24, 144, 255, 0.6),
      rgba(24, 144, 255, 0.8)
    );
    box-shadow: 0px 10px 30px -10px rgba(24, 144, 255, 0.4);
  }
  .gray {
    background: linear-gradient(
      160deg,
      rgba(0, 0, 0, 0.17),
      rgba(0, 0, 0, 0.25)
    );
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.2);
  }
  .orange {
    background: linear-gradient(
      160deg,
      rgba(247, 145, 13, 0.6),
      rgba(2247, 145, 13, 0.8)
    );
    box-shadow: 0px 10px 30px -10px rgba(247, 145, 13, 0.4);
  }
  .red {
    background: linear-gradient(
      160deg,
      rgba(255, 47, 20, 0.6),
      rgba(255, 47, 20, 0.8)
    );
    box-shadow: 0px 10px 30px -10px rgba(255, 47, 20, 0.4);
  }
}

.el-table {
  .red {
    &,
    &:hover > td {
      background: rgba(255, 47, 20, 0.1);
    }
  }
  .blue {
    &,
    &:hover > td {
      background: rgba(24, 144, 255, 0.1);
    }
  }
  .normal:hover > td {
    background: rgba(24, 144, 255, 0.2);
  }
}

.pagination-wrap {
  margin-top: 20px;
}
[scrollable] {
  [role="group"] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // padding: 2px 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    margin: 4px 0 0 0;
    width: calc(100% + 0);
    overflow-y: auto;
    min-height: 90%;
  }
}

.null-text {
  color: var(--theme);
}
.offline-text {
  color: var(--alarmA);
}
.wram-text {
  color: var(--alarmC);
}
.red-text {
  color: var(--alarmB);
}
